---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"th" | "td"> {
  key?: boolean;
  value?: boolean;
}

const { key, value, class: className, ...props } = Astro.props;
---

<style>
  .cell {
    padding: var(--u2);
    text-align: right;

    th& {
      text-align: left;
    }
  }
</style>

{
  key && (
    <th class:list={["cell", className]} {...props}>
      <slot />
    </th>
  )
}

{
  value && (
    <td class:list={["cell", className]} {...props}>
      <slot />
    </td>
  )
}
