---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"th" | "td"> {
  header?: boolean;
}

const { header, class: className, ...props } = Astro.props;
---

<style>
  .cell {
    padding: var(--u4);
    vertical-align: top;

    font-family: var(--font-regular);
    font-size: var(--u-rem);

    th& {
      text-align: left;
    }
  }
</style>

{
  header && (
    <th class:list={["cell", className]} {...props}>
      <slot />
    </th>
  )
}

{
  !header && (
    <td class:list={["cell", className]} {...props}>
      <slot />
    </td>
  )
}
