---
import { times } from "lodash-es";
import type { ItemSectionProps } from "../types/itemSectionProps";
import FactSheetCell from "./FactSheetCell.astro";
import FactSheetRoot from "./FactSheetRoot.astro";
import FactSheetRow from "./FactSheetRow.astro";
import Flex from "./Flex.astro";
import Texture from "./Texture.astro";

type Props = ItemSectionProps;

const { components } = Astro.props;

const consumable = components.get("minecraft:consumable");
const food = components.tryGet("minecraft:food");
---

<style>
  .food-full {
    position: relative;

    .align {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>

<FactSheetRoot>
  {
    food && (
      <>
        <FactSheetRow>
          <FactSheetCell key>Hunger replenishment</FactSheetCell>
          <FactSheetCell value>
            {food.nutrition}

            <Flex>
              {food.nutrition % 2 === 1 && (
                <div class="food-full">
                  <Texture
                    resolution="16"
                    src="/api/textures/ui/food_empty.png"
                  />
                  <Texture
                    resolution="16"
                    class="align"
                    src="/api/textures/ui/food_half.png"
                  />
                </div>
              )}

              {times(Math.floor(food.nutrition / 2), () => (
                <div class="food-full">
                  <Texture
                    resolution="16"
                    src="/api/textures/ui/food_empty.png"
                  />
                  <Texture
                    resolution="16"
                    class="align"
                    src="/api/textures/ui/food_full.png"
                  />
                </div>
              ))}
            </Flex>
          </FactSheetCell>
        </FactSheetRow>
        <FactSheetRow>
          <FactSheetCell key>Hunger saturation</FactSheetCell>
          <FactSheetCell value>{food.saturation}</FactSheetCell>
        </FactSheetRow>
      </>
    )
  }
</FactSheetRoot>
