---
interface Props {
  minecraft?: boolean;
}

const { minecraft } = Astro.props;
---

<style>
  .text {
    font-size: var(--u-rem);
    font-family: var(--font-regular);

    &[data-minecraft="true"] {
      font-family: Minecraft;
    }
  }
</style>

<span class="text" data-minecraft={minecraft}>
  <slot />
</span>
