---
import Footer from "../components/Footer.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import type { WithLocale } from "../types/withLocale";

type Props = WithLocale;

const { locale } = Astro.props;
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <Navbar {locale} />
    <Main>
      <slot />
    </Main>
    <Footer {locale} />
  </body>
</html>
